section#sharePoll {
  padding: 20px;
  text-align: center;

  h1 {
    color: color(primary);
    font-size: 40px;
    font-weight: 100;
    b {
      font-weight: 600;
      color: black;
    }
  }

  a {
    font-size: 16px;
    color: color(primary);
  }

  a.button {
    text-decoration: none;
    width: 100px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    background-color: color(primary);
    color: white;
    border: 1px solid color(primary);
    padding: 8px 16px;
    font-size: 18px;
    transition: 0.3s all;
    margin-top: 10px;
  }
  
}