section#votePoll {
  margin: 20px;
  text-align: center;

  h1 {
    color: color(primary);
    font-size: 30px;
  }

  h2 {
    font-weight: 100;
    font-size: 20px;
  }
  
  .container {
    max-width: 500px;
    margin: 0 auto;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    p {
      margin-right: 40px;
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #eee;
    }
  }

  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  .container input:checked ~ .checkmark {
    background-color: color(primary);
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .container input:checked ~ .checkmark:after {
    display: block;
  }

  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  input[type=submit] {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    background-color: color(primary);
    color: white;
    border: 1px solid color(primary);
    padding: 8px 16px;
    font-size: 18px;
    transition: 0.3s all;
    margin-top: 10px;
  }

  input[type=text] {
    width: 304px;
    display: block;
    margin: 0 auto;
  }

  button {
    background-color: color(primary);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 12px;
    margin-top: 10px;
  }
}