html, body {
  margin: 0;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 100;  
}

$colors: (
  primary: #231651,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@import './_navbar.scss';
@import './_footer.scss';
@import './createpoll.scss';
@import './sharePoll.scss';