nav {
  background-color: color(primary);
  height: 50px;
  text-align: center;
  a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    display: block;
    padding-top: 13px;
  }
}