html, body {
  margin: 0;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 100;  
}

$colors: (
  primary: #231651,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@mixin desktop {
  @media (min-width: 800px) {
    @content;
  }
}

@import './_navbar.scss';
@import './_footer.scss';
@import './_createpoll.scss';
@import './_sharePoll.scss';
@import './_votePoll.scss';